body {
  color: #ddd;
  background: #435783;
  background: linear-gradient(
      to bottom,
      #435783 0%,
      #354568 19%,
      #2b3853 34%,
      #222e43 47%,
      #1d2738 56.5%,
      #18212f 65%,
      #151c28 73%,
      #121923 80.2%,
      #10171f 86.1%,
      #0f151d 91%,
      #0e151c 95.2%,
      #0e141b 98.2%,
      #0e141b 100%
    )
    no-repeat;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
